body{
    margin: 0;
}
header {
    background-image: url(Recursos/Inicio.jpg);
    background-size: cover;
    display: flex;
    width: auto;
    height: 93vh;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#yate-inicio{
    /* height: 100vh; */
    height: 93vh;
    overflow: hidden;

}

#barra-nav{
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #07151D;
    width: 98%;
    padding: 1%;
    align-items: center;
    margin: 0;
}

#contenedor-logo{
    margin: 5%;
    display: flex;
}

#logo{
    width: 30vw;
}

.contenedor-icono{
    display: flex;
    justify-content: center;
}

.icono-barra-nav{
    width: 6vw;
}

